
.about{
    padding: 7rem;
    background: #242424;
    color: white;
}
.about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

.about-image{
    width: 30%;
    display:flex;
    justify-content: center;
}

.about-image img{
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}

.about-info{
    width: 50%;
    display:flex; 
    flex-direction: column;
    text-align: left;
}

.about-info span{
    color:pink;
    position: relative;
    top: 0;
    transition: left ease 0.5s;  
}
.about-info span:hover{
    left: 20px;
    font-size: 20px;
    border-bottom: 2px wheat dashed;
    transition: 0.5s ease-in;
}